
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../public/header.jpg');
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: white;
    text-align: center;
    max-width: 780px;
    height: fit-content;
}

main {
    position: relative;
    top: 10px;
}

section {
    width: fit-content;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #42b4d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    color: rgb(51, 51, 51);
    line-height: 24px;
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 100%;
}

.number {
    position: fixed;
    transform: translate(-80px, -10px);
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.25);
}

.content {
    width: 66.67vw;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51, 51, 51);
}